table.add-table {
	border: 0px !important;
        width : 100%;
	border-color: transparent !important;
}

#textarea-riwayat {
	height: 5rem;
	resize: none;
}

.back-arrow-button {
	text-align: left;
	margin-top: 1rem;
}

.judul-addriwayat {
	margin-top: 0 !important;
}

.addriwayat-form {
	margin-top: 10px !important;
}