.container {
  text-align: center;
}

table.appointment-table {
  margin: auto;
  margin-top: 2rem;
}

.welctext {
  padding-top: 10rem !important;
}

.choosetext{
  margin-top: 1rem;
}

.makejanji {
  background-color: #dad3eb;
  height: 200px;
  width: 100px;
  border : 1px solid;
}

.jadwal {
  background-color: #fff2cc;
  height: 200px;
  width: 100px;
  border : 1px solid;
}

.editjanji {
  background-color: #dad3eb;
  height: 200px;
  width: 100px;
  border : 1px solid;
}