.container {
  text-align: center;
}

.overflowy-none {
  overflow-y: hidden; 
}

.overflowx-none {
  overflow-x: hidden; 
}

.overflowy-scroll {
  overflow-y: auto; 
}

table.appointment-table {
  margin: auto;
  margin-top: 2rem;
}

.welctext {
  padding-top: 7rem !important;
}

@media screen and (max-width: 576px) {
  .welctext {
    padding-top: 2rem !important;
  }
  .appointment-table {
    width: 90% !important;
    margin-top: 0 !important;
  }
  .appointment-table td {
    margin: auto;
    width: 75% !important;
    display: block;
    vertical-align: middle !important;
    height: auto !important;
    padding: 10px 5px;
  }
  .appointment-table button {
    height: auto !important;
  }
  .choosetext {
    margin-top: 0 !important;
  }
}

.choosetext{
  margin-top: 1rem;
}

.appointment-table td {
  height: 200px;
  width: 100px;
  border : 1px solid;
}

.appointment-table button {
  background-color: transparent !important;
  width: 100%;
  height: 200px;
  margin: 0;
  border: 0 !important;
}

.makejanji {
  background-color: #dad3eb;
}

.jadwal {
  background-color: #fff2cc;
}

.editjanji {
  background-color: #dad3eb;
}