.container {
  text-align: center;
}

table.appointment-table {
  margin: auto;
  margin-top: 2rem;
}

.welctext {
  padding-top: 10rem !important;
}

@media screen and (max-width: 576px) {
  .welctext {
    padding-top: 4rem !important;
  }
  .appointment-table {
    width: 90% !important;
    margin-top: 1rem !important;
  }
  .appointment-table td {
    width: 100% !important;
    display: block;
    vertical-align: middle !important;
    height: auto !important;
    padding: 10px 5px;
  }

}
.choosetext{
  margin-top: 1rem;
}

.appointment-table td {
  height: 200px;
  width: 100px;
  border : 1px solid;
}

.makejanji {
  background-color: #dad3eb;
}

.jadwal {
  background-color: #fff2cc;
}

.editjanji {
  background-color: #dad3eb;
}