/* React Big Calender Override */
.rbc-calendar {
    height: 85vh;
}
.rbc-event {
    background-color: #ff9933;
}
.rbc-event.rbc-selected {
    background-color: #ff6666;
}
table {
    margin: 0 auto;
}
thead {
	width: 100%;
}
.rbc-header {
    font-weight: 900;
}

@media screen and (max-width: 576px){
	.rbc-btn-group {
		display: inline-grid;
	}
	table {
		margin: 0;
		width: 100% !important;
	}
}
