.container {
	text-align: center;
}

.edit-page {
	text-align: center;
	width: 500px !important;
	margin: auto;
}

.appointments {
	border: 3px solid black !important;
	width: 80%;
	padding: 5px;
	display: flex;
	justify-content: center;
	margin: auto;
	margin-top: 2rem;
}

table.edit-table {
	border: 0px !important;
	margin: 0;
	border-color: transparent !important;
	width: 100% !important;
}

.edit-table td {
	border: 0px !important;
	text-align: left;
}

.edit-table tr :nth-child(2) {
	width: 10%;
}

.form-content {
	padding-top: 2rem !important;
	max-width: 500px;
	margin: auto;
}

.fullwidth {
	position: relative;
	width: 100%;
	padding: 3px;
}

table.app-table {
	width: 100% !important;
	border: 0px !important;
	margin: 0;
	border-color: transparent !important;
}

.app-table td {
	border: 0px !important;
}

.app-table tr :nth-child(1) {
	text-align: left;
}

.app-table tr :nth-child(2) {
	text-align: right;
}

.app-button {
  margin-top: 3rem;
  width: 100%;
  background-color: #93c47d !important;
  text-align: center;
}