.container {
	text-align: center;
}

.jadwaldokter-page {
	margin: auto !important;
	width: 500px;
	text-align: center;
}

.th-cornflowerblue th {
	background-color: cornflowerblue !important;
	color: white;
}

@media screen and (max-width: 767px) {
	.jadwaldokter-page {
		margin: auto !important;
		width: 100% !important;
		text-align: center;
	}
	.tabel-spesialisasi-dokter {
		width: 68% !important;
	}
}

@media screen and (max-width: 576px) {
	.jadwaldokter-page {
		margin: auto !important;
		width: 100% !important;
		text-align: center;
	}
	.tabel-spesialisasi-dokter {
		width: 68% !important;
	}
	.tabel-jadwal-dokter {
		width: 30%;
	}
	.tabel-jadwal-dokter td {
		min-width: 150px;
	}
	.tabel-spesialisasi-dokter {
		width: 90% !important;
	}
}

.head {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.notice {
	margin: auto 0 auto;
	color: #cc0000;
	width: 100%;
}

.bg-green {
	background-color: green !important;
	color: white;
}

.bg-orange {
	background-color: orange !important;
	color: white;
}

.bg-blue {
	background-color: #a7b9f9 !important;
	color: white;
}

.bg-aqua {
	background-color: aqua !important;
	color: navy;
}

.bg-pink {
	background-color: hotpink !important;
	color: white;
}

.bg-yellow {
	background-color: #f6eaae !important;
	color: black;
}

.bg-black {
	background-color: black !important;
}

.menu-table {
	margin: auto !important;
	text-align: center !important;
	width: 100% !important;
	border-collapse: collapse;
}

.menu-table td {
	background-color: cornflowerblue !important;
	margin: 0 !important;
	text-align: center !important;
	width: 50% !important;
	color: white !important;
	border: 2px solid white;
}

.menu-table tr:nth-child(2) td {
	height: 40px !important;
}

.menu-table tr:nth-child(2) td:hover {
	background-color: #cce2ff  !important;
}

.menu-jadwal-button {
	background-color: transparent !important;
	width: 100%;
	height: 40px;
	margin: 0;
	border: 0 !important;
	color: white !important;
}

.menu-jadwal-button:hover {
	background-color: #cce2ff  !important;
}

.focus {
	color: white !important;
	font-size: 16px;
}

.select {
	margin-top: 1rem !important;
}

.table {
	margin-top: 1rem;
	width: 100%;
	overflow-x: scroll;
}

.tabel-jadwal-dokter {
	border-collapse: collapse;  
	margin: 10px 0;
	width: 25% !important;
	display: table-cell;
} 

.tabel-jadwal-dokter tr:nth-child(even) {
	background-color: aliceblue !important;
}

.tabel-jadwal-dokter:nth-child(odd) {
	background-color: white !important;
}

.tabel-jadwal-dokter th {
	border: 1px #ddd solid;
	padding: 10px 0;
	height: 40px !important;
	width: 124px !important;
}

.tabel-jadwal-dokter td {
	border: 1px #ddd solid;
	padding: 10px 0;
	height: 40px !important;
	min-width: 124px;
}

.tabel-spesialisasi-dokter {
	margin: 0 auto;
	width: 70%;
	border-collapse: collapse !important;
}

.tabel-spesialisasi-dokter th:nth-child(1) {
	text-align: left;
	padding-left: 6px;
}

.tabel-spesialisasi-dokter td:nth-child(1) {
	text-align: left;
	padding-left: 6px;
}

.tabel-spesialisasi-dokter th {
	height: 35px;
	border: 1px solid black;
}

.tabel-spesialisasi-dokter td {
	height: 35px;
	border: 1px solid black;
}

.jadwal-per-tanggal {
	border-collapse: collapse;
	width: 90% !important;
	margin: 10px auto;
	border: 1px solid black;
}

.jadwal-per-tanggal td {
	height: 30px;
	width: 16px;
	border: 1px solid white;
	background-color: dimgrey;
}

.jadwal-per-tanggal td:nth-child(1) {
	border: 1px solid black;
	background-color: white !important;
}

.jadwal-per-tanggal th {
	height: 30px;
	border: 1px solid black;
}