h1 {
  padding-top: 4%;
}

.container {
  text-align: center;
}

table.login-table {
  width: 60%;
  margin : auto;
  margin-top: 1rem;
  border-collapse:separate;
  border-spacing:0 15px;
}

.login-table tr{
  margin-bottom: 10rem;
}

.captcha {
  margin-top: 2rem;
  text-align: center;
}

.loginbutton {
  margin-top: 3rem;
  text-align: center;
}

.session-table td:nth-child(1) {
  text-align: left !important;
}

@media screen and (max-width: 576px) {
  .session-table {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .session-form {
    margin-top: 4rem !important;
  }
  h1 {
    margin-top: 4rem !important;
  }
}