.navbarinformation {
  margin-bottom: -1rem;
}

.nav-text {
  float: left;
  margin-left: 5px;

}

.nav-icon {
  margin-top: -0.25rem;
}

a {
  color: #000000;
}

.active{
  color: white !important;
  opacity: 1;
}

.navbar {
  background-color: #4aa6f7;
}

i.icon {
  margin: 0;
}

@media only screen and (max-width: 320px){
  .janjidokter {
    font-size: 0.7rem;
  }
  .statusbpjs {
    font-size: 0.8rem;
  }
}


@media only screen and (min-width: 360px){
  .janjidokter {
    font-size: 0.9rem;
  }
  .statusbpjs {
    font-size: 0.9rem;
  }
}

