.container {
  text-align: center;
}
table.register-table {
  width: 70%;
  margin : auto;
  margin-top: 10rem;
      border-collapse:separate;
    border-spacing:0 15px;
}

.register-table tr{
  margin-bottom: 10rem;
}

.captcha {
  margin-top: 2rem;
  text-align: center;
}

.registerbutton {
  margin-top: 3rem;
  text-align: center;
}